
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font: 13px/1.4 -apple-system, 'SF UI Text',Arial,'PingFang SC','Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.tip {
  background-color: #e86f5e;
  border-radius: 8px;
  padding: 2px 4px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
}