
header {
  border-bottom: 1px solid #eee;
  height: 56px;
  line-height: 56px;
  box-sizing: content-box;
  padding: 0 20px;
}

header:after {
  content: '';
  display: block;
  clear: both;
}


header .logo {
  float: left;
}
header .logo >img {
  height: 50px;
}

header .navbar {
  float: left;
}
header .navbar a {
  display: block;
  line-height: 56px;
  padding: 0 10px;
  color: #333;
  font-size: 17px;
}
header .navbar a:hover {
  background-color: #eee;
}

header .navbar .active a {
  color: #e86f5e;
}

header .navbar .active a:hover {
  background-color: #fff;
}

header .navbar>li .tip {
  position: absolute;
  top: 10px;
  right: -8px;
}

header .navbar > li {
  position: relative;
  float: left;
  padding: 0 4px;
}
header .navbar > li:hover .child {
  display: block;
}

header .navbar .child {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 1px 4px 2px rgba(0,0,0,0.1);
  width: 120px;
  line-height: 40px;
  display: none;
}

header .navbar .child a {
  line-height: 40px;
}

header .navbar .child .tip {
  position: absolute;
  top: 10px;
  right: 10px;
}


/*  search area  */
header .search {
  float: left;
  position: relative;
  margin-left: 30px;
}

header .search input {
  line-height: 36px;
  padding: 0 20px;
  width: 200px;
  font-size: 15px;
  border: none;
  background-color: #eee;
  border-radius: 18px;
  outline: none;
  transition: all .3s;
}

header .search input:focus {
  width: 240px;
}

header .search input:focus~.search-panel {
  display: block;
}

header .search input:focus~.icon-search {
  background-color: #969696;
  color: #fff;
}


header .search .icon-search {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #aaa;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
}

header .search-panel {
  position: absolute;
  z-index: 1;
  width: 250px;
  padding: 16px;
  line-height: 1;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 4px 2px rgba(0,0,0,0.1);
  display: none;
}
header .search-panel:before {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: 30px;
  width: 14px;
  height: 14px;
  background-color: #fff;
  transform: rotateZ(45deg);
  box-shadow: -2px -2px 2px -2px rgba(0,0,0,0.1);
}

header .search-panel h3 {
  color: #888;
  font-weight: normal;
}

header .search-panel .change {
  float: right;
  font-size: 13px;
  color: #888;
  font-weight: normal;
}

header .search-panel .labels {
  margin-top: 10px;
}

header .search-panel .label {
  float: left;
  border: 1px solid #ccc;
  padding: 2px 4px;
  margin: 10px 10px 0 0;
  border-radius: 4px;
  color: #888;
}

header .search-panel .label:hover {
  border-color: #888;
}


/*extra*/

header .extra {
  float: right;
}

header .extra a {
  color: #333;
}

header .extra .icon-textsize {
  float: left;
  font-size: 30px;
  color: #333;
}

header .extra .user {
  position: relative;
  float: left;
  margin-left: 20px;
  padding: 0 10px;
}

header .extra .user:hover {
  background-color: #eee;
}

header .extra .user:hover .child {
  display: block;
}

header .extra .child {
  position: absolute;
  left: 0;
  box-shadow: 0 1px 4px 2px rgba(0,0,0,0.1);
  background-color: #fff;
  width: 160px;
  line-height: 54px;
  display: none;
}

header .extra .child a {
  display: block;
  font-size: 13px;
  padding: 0 10px;
}

header .extra .child a:hover {
  background-color: #eee;
}

header .extra .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
}
header .extra .icon-down {
  vertical-align: middle;
} 

header .extra .action-write {
  float: left;
  background-color: #e56e5d;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  line-height: 1;
  padding: 10px 20px;
  margin: 10px 0 0 20px;
}


/* section */

section {
  margin-top: 30px;
}


aside {
  float: right;
  width: 280px;
}

aside .panels img {
  width: 280px;
  height: 45px;
}


aside .download {
  position: relative;
  display: block;
  padding: 10px 22px;
  margin-top: 10px;
  border: 1px solid #ececec;
  border-radius: 4px;
}

aside .download img {
  width: 56px;
  height: 56px;
  float: left;
}

aside .download h3 {
  margin-left: 66px;
  font-weight: normal;
  color: #333;
}

aside .download p {
  margin-left: 66px;
  color: #999;
}

aside .download .tooltip {
  position: absolute;
  top: -198px;
  left: calc(50% - 91px);
  width: 182px;
  height: 182px;
  padding: 10px;
  border: 1px solid #ececec;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 5px 2px rgba(0,0,0,0.3);
  display: none;
}

aside .download .tooltip:after {
  content: '';
  position: absolute;
  bottom: -9px;
  left: 50%;
  margin-left: -8px;
  transform: rotateZ(45deg);
  display: block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

aside .download:hover .tooltip {
  display: block;
}

aside .download .tooltip img {
  width: 100%;
  height: 100%;
}

aside .recommand {
  margin-top: 30px;
}

aside .recommand > h3 {
  color: #999;
  font-weight: normal;
  font-size: 14px; 
}

aside .recommand > h3 .change {
  float: right;
  font-size: 14px;
  color: #999;
}

aside .recommand .avatar {
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid #ececec;
  border-radius: 50%;
  overflow: hidden;
}

aside .recommand .item {
  margin-top: 15px;
}

aside .recommand .avatar img {
  width: 100%;
  height: 100%;
}

aside .recommand .item h4 {
  margin-left: 60px;
}

aside .recommand .username {
  color: #333;
}

aside .recommand .notice {
  float: right;
  color: #42c02e;
}

aside .recommand .item p {
  margin-left: 60px;
  color: #999;
}

aside .recommand .more {
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  color: #999;
  background-color: #f7f7f7;
  line-height: 30px;
  margin-top: 15px;
}

/*main*/
main {
  margin-right: 318px;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel .panels {
  width: 2528px;
}

.carousel .panels>a {
  float: left;
  width: 632px;
  height: 270px;
}

.carousel img {
  width: 100%;
  height: 100%;
}

.carousel .carousel-btn {
  position: absolute;
  top: calc(50% - 25px);
  width: 40px;
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 28px;
  line-height: 50px;
  background-color: rgba(0,0,0,0.4);
  display: none;
}

.carousel:hover .carousel-btn {
  display: block;
}

.carousel .btn-left {
  border-radius: 0 4px 4px 0;
  left: 0;
}

.carousel .btn-right {
  border-radius: 4px 0 0 4px;
  right: 0;
}

.carousel .bullets {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}
.carousel .bullets > li {
  display: inline-block;
  width: 24px;
  height: 2px;
  background-color: rgba(0,0,0,0.3);
}

.carousel .bullets > li.active {
  background-color: #fff;
}

.label-group {
  margin-top: 20px;
}

.label-group .label {
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  color: #333;
  background-color: #f7f7f7;
  display: inline-block;
  overflow: hidden;
  padding-right: 10px;
  margin: 10px 20px 10px 0;
  vertical-align: middle;
}

.label-group img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 10px;
}

.label-group .more {
  color: #787878;
  vertical-align: middle;
}

/*content*/

.content .item {
  position: relative;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding: 20px 0;
}

.content .item .cover {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -58px;
  width: 140px;
  height: 117px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  overflow: hidden;
}

.content .item .cover img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.content .item .detail {
  margin-right: 160px;
}

.content .item .avatar {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
}

.content .item .avatar img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.content .item .username {
  margin-left: 10px;
  color: #333;
  vertical-align: middle;
}

.content .item .time {
  margin-left: 10px;
  color: #999;
  vertical-align: middle;
}

.content .item .title {
  display: block;
  margin-top: 10px;
  color: #333;
}

.content .item .title h2 {
  font-size: 20px;
}

.content .item .foot {
  margin-top: 10px;
  font-size: 12px;
}

.content .item .label {
  color: #f09083;
  border: 1px solid #f09083;
  border-radius: 4px;
  padding: 2px 4px;
}

.content .item .foot span {
  color: #999;
}

.content .item .foot .iconfont {
  margin-left: 10px;
}

.to-top {
  position: fixed;
  right: 40px;
  bottom: 50px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #fff;
}

.to-top:hover {
  background-color: #f8f8f8;
}

.to-top .iconfont {
  font-size: 26px;
}

.to-top .tooltip {
  position: absolute;
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  background-color: #000;
  color: #fff;
  width: 63px; 
  text-align: center ;
  line-height: 1.8 ;
  border-radius: 4px;
  display: none;
}

.to-top:hover .tooltip {
  display: block;
}

.to-top .tooltip:after {
  content: '';
  position: absolute;
  right: -12px;
  top: 5px;
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid #000;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid transparent;
}


@media screen and (max-width: 760px) {
  .layout {
    width: auto;
  }
  body {
    padding: 10px 20px;
  }
  .extra,
  .search {
    display: none;
  }
  aside {
    float: none;
    width: auto;
  }
  main {
    margin-right: 0;
  }
}

